doc
results
data
src/slidingWindow/.idea
src/boundary_finder/.idea/*
src/par_boundary/*.txt
useful_commands.sh
src/sub_scripts
src/alignment
src/breakdancer
src/coverage_scripts
src/GATK
src/lumpy
src/par_boundary/__pycache__
bin/svtyper-master
src/sandbox
src/*/*txt
bin/
src/divergence/__pycache__
src/divergence/*.pdf
src/divergence/*.txt
