doc/revisedAssemblyUnmasked.fa
data/depth_analysis/raw_depth/*
data/depth_analysis/sliding_win_avg/.Rproj.user/*
data/depth_analysis/sliding_win_avg/__summary.txt
data/depth_analysis/sliding_win_avg/.RData
data/depth_analysis/sliding_win_avg/.Rhistory
data/depth_analysis/sliding_win_avg/sliding_win_avg.Rproj
